.info{
    background-color: rgb(81, 81, 224);
    padding: 10px 24px;
    margin: 8px;
    color: rgb(199, 185, 185);
    border-radius: 15px;

}
.acc{
    background-color: #bbbbbb;
    padding: 10px 24px;
    margin: 8px;
    color: black;
    border-radius: 15px;
}
.acc>*{
    margin: 4px;
}
.selected{
    background-color: aquamarine;

}